# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
# *.so
# *.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
# *.lai
# *.la
# *.a
# *.lib

# Executables
*.exe
*.out
*.app

[Ii]nt/
[Bb]in/
[Ll]ib/
.vs/

# Exceptions
# We want the obj that are meshes on the project
![Dd]ata/[Mm]eshes/*.obj